
.containerRow {
  // border: 5px solid red;
  margin-top: 10px;
}

.imageCol {
  // border: 5px solid orange;
  max-width: 375px;
}

.dataRow {
  // border: 5px solid yellow;
  max-width: 71%;
}

.itemName {
  // border: 5px solid green;
  max-width: 33%;
}

.itemPrice {
  // border: 5px solid blue;
  max-width: 33%;
}

.itemDescription {
  // border: 5px solid purple;
  max-width: 86%
}